@import "font.css";

/*******************************************************************************
 *                                                                             *
 * Rounded corners (modifying default JMetro style)                            *
 *                                                                             *
 ******************************************************************************/
.button, .button:focused,
.toggle-button, .toggle-button:focused,
.text-input,
.check-box > .box,
.combo-box, .combo-box:focused,
.menu-button, .menu-button:focused,
.choice-box, .choice-box:focused,
.tooltip,
.date-picker.combo-box-base, .date-picker.combo-box-base:focused, .date-picker.combo-box-base:hover,
.spinner, .spinner .text-field,
.spinner .increment-arrow-button, .spinner .decrement-arrow-button,
.context-menu,
.combo-box-popup .list-view ,
.color-picker, .color-picker:focused {
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}
.combo-box-popup .list-view {
    -fx-padding: 3 0 3 0;
}
/* In the menu bar, we don't want rounded corners */
.menu-bar .menu-button, .menu-bar .context-menu {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

/*******************************************************************************
 *                                                                             *
 *                                 TextField                                   *
 *                                                                             *
 ******************************************************************************/
.text-field:readonly {
    -right-button-visible: false;
}
.text-field .right-button {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

/*******************************************************************************
 *                                                                             *
 *                                  Base View                                  *
 *                                                                             *
 ******************************************************************************/


/*******************************************************************************
 *                                                                             *
 *                                 NotificationNode                            *
 *                                                                             *
 ******************************************************************************/
.notification-node {
    -fx-border-width: 0.5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .26), 20, 0.19, -1, 6);
}
.notification-node .content-panel {
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 0 25 0 0;
}
.notification-node .glyph-icon {
    -fx-font-size: 20 !important;
}
.notification-node .content-panel .title {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
.notification-node .content-panel .message {
    -fx-font-size: 1em;
}

/*******************************************************************************
 *                                                                             *
 *                                  Login view                                 *
 *                                                                             *
 ******************************************************************************/
.login-form {
    -fx-background-size: stretch;
}
.login-box {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.login-box .header .label {
    -fx-font-family: "JetBrains Mono Bold";
    -fx-font-size: 35px;
}
.login-box .header .logo {
    -fx-image: url("/org/myteer/novel/image/logo/bookshelf_64.png");
}
.login-box .source-adder {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

/*******************************************************************************
 *                                                                             *
 *                                  Database manager                           *
 *                                                                             *
 ******************************************************************************/
.state-indicator-file-not-exists {
    -fx-fill: #B00020 !important;
}
.state-indicator-used {
    -fx-fill: green !important;
}

/*******************************************************************************
 *                                                                             *
 *                                    Other                                    *
 *                                                                             *
 ******************************************************************************/
.header-toolbar {
    -fx-padding: 12 10 12 10;
    -fx-border-width: 0;
}