@import "font.css";

/*******************************************************************************
 *                                                                             *
 * Rounded corners (modifying default JMetro style)                            *
 *                                                                             *
 ******************************************************************************/
.button, .button:focused,
.toggle-button, .toggle-button:focused,
.text-input,
.check-box > .box,
.combo-box, .combo-box:focused,
.menu-button, .menu-button:focused,
.choice-box, .choice-box:focused,
.tooltip,
.date-picker.combo-box-base, .date-picker.combo-box-base:focused, .date-picker.combo-box-base:hover,
.spinner, .spinner .text-field,
.spinner .increment-arrow-button, .spinner .decrement-arrow-button,
.context-menu,
.combo-box-popup .list-view,
.color-picker, .color-picker:focused {
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.combo-box-popup .list-view {
    -fx-padding: 3 0 3 0;
}

/* In the menu bar, we don't want rounded corners */
.menu-bar .menu-button, .menu-bar .context-menu {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

/*******************************************************************************
 *                                                                             *
 *                                 TextField                                   *
 *                                                                             *
 ******************************************************************************/
.text-field:readonly {
    -right-button-visible: false;
}

.text-field .right-button {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

/*******************************************************************************
 *                                                                             *
 *                                  TableView                                  *
 *                                                                             *
 ******************************************************************************/
.table-view .table-row-cell:filled {
    -fx-border-width: 0 0 0.5 0;
}

/*******************************************************************************
 *                                                                             *
 *                                  MenuBar                                    *
 *                                                                             *
 ******************************************************************************/
.menu-bar > .container > .menu-button {
    -fx-padding: 5 10 5 10;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.menu-bar > .container > .menu-button:showing,
.menu-bar > .container > .menu-button:focused {
    -fx-border-color: rgb(0, 120, 215) transparent transparent transparent;
}

/*******************************************************************************
 *                                                                             *
 *                                  TabView                                    *
 *                                                                             *
 ******************************************************************************/
.tab-view > .tab-pane {
    -fx-tab-min-height: 2.4em;
    -fx-tab-max-height: 2.4em;
    -fx-tab-max-width: 17em;
}

.tab-view > .tab-pane > .tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.166667em 0.0em 0.3em;
}

.tab-view > .tab-pane > .tab-header-area > .headers-region {
    -fx-padding: 4 5 5 4;
}

.tab-view > .tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 0.083333em 0.8em 0.0769em 0.8em;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-color: transparent;
}

.tab-view > .tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-padding: 0 5 0 0;
}

.tab-view > .tab-pane > .tab-header-area > .headers-region > .tab .tab-close-button {
    -fx-opacity: 0.65;
}

/*******************************************************************************
 *                                                                             *
 *                                   Ikonli                                    *
 *                                                                             *
 ******************************************************************************/
.ikonli-font-icon {
    -fx-icon-size: 16;
}

/*******************************************************************************
 *                                                                             *
 *                                   WrapLabel                                    *
 *                                                                             *
 ******************************************************************************/
.wrap-label {
    -fx-spacing: 5;
}

.wrap-label .ikonli-font-icon {
    -fx-icon-size: 20;
    -fx-cursor: hand;
}

/*******************************************************************************
 *                                                                             *
 *                                 Information view                            *
 *                                                                             *
 ******************************************************************************/
.information-view {
    -fx-padding: 10;
}

/*******************************************************************************
 *                                                                             *
 *                                  Base View                                  *
 *                                                                             *
 ******************************************************************************/
.overlay-box {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 20, 0.19, -1, 6);
}

.overlay-box .title-bar {
    -fx-padding: 5;
    -fx-background-radius: 5 5 0 0;
}

.overlay-box .content {
    -fx-background-radius: 0 0 5 5;
}

.alertDialog .button {
    -fx-padding: 5;
}

/*******************************************************************************
 *                                                                             *
 *                                 NotificationNode                            *
 *                                                                             *
 ******************************************************************************/
.notification-node {
    -fx-border-width: 0.5;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 5, 0.12, -1, 2);
}

.notification-node .content-panel {
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-padding: 0 25 0 0;
}

.notification-node .ikonli-font-icon {
    -fx-icon-size: 20;
}

.notification-node .content-panel .title {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.notification-node .content-panel .message {
    -fx-font-size: 1em;
}

/*******************************************************************************
 *                                                                             *
 *                                  Login view                                 *
 *                                                                             *
 ******************************************************************************/
.login-form {
    -fx-background-size: stretch;
}

.login-box {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.login-box .header .label {
    -fx-font-family: "JetBrains Mono Bold";
    -fx-font-size: 35px;
}

.login-box .header .logo {
    -fx-image: url("/org/myteer/novel/image/logo/bookshelf_64.png");
}

.login-box .source-adder {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

/*******************************************************************************
 *                                                                             *
 *                                 Preferences view                            *
 *                                                                             *
 ******************************************************************************/
.preferences-view .entry-title {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.preferences-view .entry-description {
    -fx-font-size: 13px;
    -fx-opacity: 0.75;
}

/*******************************************************************************
 *                                                                             *
 *                                 Main View                                   *
 *                                                                             *
 ******************************************************************************/
.main-view {
    -fx-font-size: 14px;
}

.main-view-toolbar {
    -fx-border-width: 1 0 1 0;
    -fx-pref-height: 25;
    -fx-font-size: 12px;
}

.main-view-toolbar .ikonli-font-icon {
    -fx-icon-size: 14;
}

.main-view .module-view .label-area .image-view {
    -fx-image: url("/org/myteer/novel/image/logo/bookshelf_64.png");
}

.main-view .module-view .label-area * {
    -fx-font-family: "Jetbrains Mono";
    -fx-font-size: 40;
}

.main-view .module-view .tile-pagination {
    -fx-padding: 0 0 4em 0;
    -fx-arrows-visible: false;
    -fx-page-information-visible: false;
    -fx-tooltip-visible: false;
}

.main-view .module-view .tile-pagination:one-page {
    -fx-padding: 0;
}

.main-view .module-view .tile-pagination:one-page > .pagination-control {
    -fx-opacity: 0;
}

.main-view .module-view .tile-pagination > .pagination-control > .control-box {
    -fx-spacing: .25em;
}

.main-view .module-view .tile-grid {
    -fx-background-color: transparent;
    -fx-hgap: 10;
    -fx-vgap: 20;
}

.main-view .module-view .tile {
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-padding: 15 10 0 10;
    -fx-pref-width: 9em;
    -fx-pref-height: 9.34em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.12, -1, 2);
}

.main-view .module-view .tile .button {
    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: HAND;
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.12, -1, 2);
}

.main-view .module-view .tile .button .ikonli-font-icon {
    -fx-icon-size: 64;
    -fx-opacity: .5;
}

.main-view .module-view .tile .label {
    -fx-padding: inherit 5 inherit 5;
    -fx-font-size: 1em;
}

/*******************************************************************************
 *                                                                             *
 *                           Crawl book import view                            *
 *                                                                             *
 ******************************************************************************/
.crawl-book-search-form .title-label {
    -fx-font-size: 2em;
    -fx-opacity: .7;
}

.crawl-book-search-form .text-field {
    -fx-padding: 5 10 5 5;
}

.crawl-book-table .thumbnail-place-holder {
    -fx-icon-size: 120;
}

/*******************************************************************************
 *                                                                             *
 *                         Crawl book details overlay                          *
 *                                                                             *
 ******************************************************************************/
.crawl-book-details-pane {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.crawl-book-details-pane > .top-group {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.12, -1, 2);
}

.crawl-book-details-pane > .top-group .label {
    -fx-font-size: 1em;
    -fx-opacity: .5;
}

.crawl-book-details-pane > .top-group > .label.thumbnail-label {
    -fx-opacity: 1;
}

.crawl-book-details-pane > .top-group > .label.thumbnail-label > .thumbnail-place-holder {
    -fx-icon-size: 120;
}

.crawl-book-details-pane > .top-group > .label.name-label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

.crawl-book-details-pane > .top-group > .label.score-label {
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-opacity: 1;
}

.crawl-book-details-pane > .top-group > .label.score-label > .ikonli-font-icon {
    -fx-icon-size: 36;
}

.crawl-book-details-pane > .description-group {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.12, -1, 2);
}

.crawl-book-details-pane > .description-group > .title-label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.crawl-book-details-pane > .description-group > .wrap-label > .label {
    -fx-font-size: 1em;
    -fx-opacity: .5;
}

.crawl-book-details-pane > .index-group {
    -fx-padding: 10;
    -fx-hgap: 30;
    -fx-vgap: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.12, -1, 2);
}

.crawl-book-details-pane > .index-group > .label {
    -fx-font-size: 1em;
}

.crawl-book-details-pane > .index-group > .label.title-label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.crawl-book-details-pane > .index-group > .label.last-update-label {
    -fx-opacity: .5;
}

.crawl-book-details-pane > .index-group > .ikonli-font-icon {
    -fx-icon-size: 42;
    -fx-opacity: .5;
}

.crawl-book-details-pane > .same-author-books-group {
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.12, -1, 2);
}

.crawl-book-details-pane > .same-author-books-group > .label.title-label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}

.crawl-book-details-pane > .same-author-books-group > .separator {
    -fx-opacity: .5;
}

.crawl-book-details-pane > .same-author-books-group > .same-author-book {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.crawl-book-details-pane > .same-author-books-group > .same-author-book .label {
    -fx-font-size: 1em;
    -fx-opacity: .5;
}

.crawl-book-details-pane > .same-author-books-group > .same-author-book .label.thumbnail-label {
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.crawl-book-details-pane > .same-author-books-group > .same-author-book .label.thumbnail-label > .thumbnail-place-holder {
    -fx-icon-size: 96;
}

.crawl-book-details-pane > .same-author-books-group > .same-author-book .label.name-label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

.crawl-book-details-pane > .same-category-books-group {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.12, -1, 2);
}

.crawl-book-details-pane > .same-category-books-group .title-label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.crawl-book-details-pane > .same-category-books-group .refresh-button {
    -fx-background-color: transparent;
}

.crawl-book-details-pane > .same-category-books-group .same-category-book {
    -fx-spacing: 10;
}

.crawl-book-details-pane > .same-category-books-group .same-category-book .thumbnail-label {
    -fx-cursor: hand;
}

.crawl-book-details-pane > .same-category-books-group .same-category-book .name-label {
    -fx-font-size: 1em;
    -fx-opacity: .5;
}

.crawl-book-details-pane > .same-category-books-group .same-category-book .thumbnail-place-holder {
    -fx-icon-size: 96;
}

/*******************************************************************************
 *                                                                             *
 *                            Book Manager view                                *
 *                                                                             *
 ******************************************************************************/
.book-manager-view-config-panel {
    -fx-pref-width: 30em;
    -fx-pref-height: 30em;
}

.book-manager-toolbar .options-item .arrow-button {
    -fx-padding: 0;
}

.book-manager-toolbar .options-item .arrow-button > .arrow {
    -fx-padding: 0;
}

.book-table-place-holder .label {
    -fx-font-size: 18;
}

.record-find-control .text-field {
    -fx-padding: 5px;
}

.record-find-control .error-label {
    -fx-text-fill: red;
}

.book-table .thumbnail-place-holder {
    -fx-icon-size: 120;
}

/*******************************************************************************
 *                                                                             *
 *                         Export configuration view                           *
 *                                                                             *
 ******************************************************************************/
.excel-configuration-view, .json-configuration-view {
    -fx-pref-width: 30em;
    -fx-pref-height: 30em;
}

.excel-configuration-view .tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.excel-configuration-view .style-view .category-label {
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

/*******************************************************************************
 *                                                                             *
 *                                 Volume view                                 *
 *                                                                             *
 ******************************************************************************/
.volume-view {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.volume-view .volume-pane {
    -fx-border-width: 1;
    -fx-border-insets: 20 0 0 0;
    -fx-padding: -10 10 10 10;
}

.volume-view .volume-pane .volume-name {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-padding: 0 10 0 10;
}

.volume-view .volume-pane .chapter-pane {
    -fx-alignment: center;
    -fx-vgap: 20;
    -fx-hgap: 20;
}

.volume-view .volume-pane .chapter-pane .chapter-item {
    -fx-font-size: 1em;
}

/*******************************************************************************
 *                                                                             *
 *                                    Other                                    *
 *                                                                             *
 ******************************************************************************/
.header-toolbar {
    -fx-padding: 12 10 12 10;
    -fx-border-width: 0;
}