@import "base.css";

/*******************************************************************************
 *                                                                             *
 *                                   ComboBox                                  *
 *                                                                             *
 ******************************************************************************/
.combo-box-popup .list-view {
    -fx-background-color: #f2f2f2;
}

/*******************************************************************************
 *                                                                             *
 *                                  Glyph icons                                *
 *                                                                             *
 ******************************************************************************/
.button .glyph-icon {
    -fx-fill: black;
}
.button:default .glyph-icon {
    -fx-fill: white;
}

/*******************************************************************************
 *                                                                             *
 *                                  TableView                                  *
 *                                                                             *
 ******************************************************************************/
.table-view .table-row-cell:filled {
    -fx-border-color: transparent transparent #c4c4c4 transparent;
}

/*******************************************************************************
 *                                                                             *
 *                                  Base View                                  *
 *                                                                             *
 ******************************************************************************/
* {
    /* WorkbenchFX styles */
    -primary-color: #E5E5E5;
    -primary-variant-color: #9F9F9F;
    -secondary-color: #6300FF;
    -secondary-variant-color: #1E005F;
    -background-color: #FFFFFF;
    -surface-color: #FFFFFF;
    -error-color: #B00020;
    -on-primary-color: black;
    -on-secondary-color: #FFFFFF;
    -on-background-color: #000000;
    -on-surface-color: #000000;
    -on-error-color: #FFFFFF;
}
.overlay-box .title-bar {
    -fx-background-color: #D9D9D9;
}

/*******************************************************************************
 *                                                                             *
 *                                 NotificationNode                            *
 *                                                                             *
 ******************************************************************************/
.notification-node {
    -fx-background-color: #E5E5E5;
    -fx-border-color: #565656;
}
.notification-node .glyph-icon {
    -fx-fill: #565656;
}

/*******************************************************************************
 *                                                                             *
 *                                  Login view                                 *
 *                                                                             *
 ******************************************************************************/
.login-form {
    -fx-background-image: url("/org/myteer/novel/image/background/background-light.jpg");
}
.login-box {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #000000, 10.0, 0, 0, 0);
}
.login-box .header .label {
    -fx-text-fill: #797979;
}

/*******************************************************************************
 *                                                                             *
 *                                    Other                                    *
 *                                                                             *
 ******************************************************************************/
.header-toolbar {
    -fx-background-color: #E5E5E5;
}