@import "base.css";

/*******************************************************************************
 *                                                                             *
 *                                   ComboBox                                  *
 *                                                                             *
 ******************************************************************************/
.combo-box-popup .list-view {
    -fx-background-color: #f2f2f2;
}

/*******************************************************************************
 *                                                                             *
 *                                   Ikonli                                    *
 *                                                                             *
 ******************************************************************************/
.ikonli-font-icon {
    -fx-icon-color: black;
}

.button:default .ikonli-font-icon {
    -fx-icon-color: white;
}

/*******************************************************************************
 *                                                                             *
 *                                  TableView                                  *
 *                                                                             *
 ******************************************************************************/
.table-view .table-row-cell:filled {
    -fx-border-color: transparent transparent #c4c4c4 transparent;
}

/*******************************************************************************
 *                                                                             *
 *                                    TabPane                                  *
 *                                                                             *
 ******************************************************************************/
.tab .tab-close-button:hover {
    -fx-background-color: red;
}

/*******************************************************************************
 *                                                                             *
 *                                  TabView                                    *
 *                                                                             *
 ******************************************************************************/
.tab-view > .tab-pane > .tab-header-area > .tab-header-background {
    /* -fx-background-color: #F0EEF2; */
}

.tab-view > .tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #FFFEFE;
}

.tab-view > .tab-pane > .tab-header-area > .headers-region {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.16), 10, 0.12, -1, 2);
}

.tab-view > .tab-pane > .tab-header-area > .headers-region > .tab:hover > .tab-container > .tab-label {
    -fx-text-fill: #2F2F2F;
}

.tab-view > .tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: #2F2F2F;
}

.tab-view > .tab-pane > .tab-header-area > .headers-region > .tab:selected:hover > .tab-container > .tab-label {
    -fx-text-fill: #2F2F2F;
}

/*******************************************************************************
 *                                                                             *
 *                                   MenuBar                                   *
 *                                                                             *
 ******************************************************************************/
.menu-bar:disabled {
    -fx-background-color: #7A7A7A;
}

/*******************************************************************************
 *                                                                             *
 *                                  Base View                                  *
 *                                                                             *
 ******************************************************************************/
* {
    /* WorkbenchFX styles */
    -primary-color: #E5E5E5;
    -primary-variant-color: #9F9F9F;
    -secondary-color: #6300FF;
    -secondary-variant-color: #1E005F;
    -background-color: #FFFFFF;
    -surface-color: #FFFFFF;
    -error-color: #B00020;
    -on-primary-color: black;
    -on-secondary-color: #FFFFFF;
    -on-background-color: #000000;
    -on-surface-color: #000000;
    -on-error-color: #FFFFFF;
}

.overlay-box .title-bar {
    -fx-background-color: #D9D9D9;
}

/*******************************************************************************
 *                                                                             *
 *                                 NotificationNode                            *
 *                                                                             *
 ******************************************************************************/
.notification-node {
    -fx-background-color: #E5E5E5;
    -fx-border-color: #565656;
}

.notification-node .ikonli-font-icon {
    -fx-icon-color: #565656;
}

/*******************************************************************************
 *                                                                             *
 *                                  Login view                                 *
 *                                                                             *
 ******************************************************************************/
.login-form {
    -fx-background-image: url("/org/myteer/novel/image/background/background-light.jpg");
}

.login-box {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #000000, 10.0, 0, 0, 0);
}

.login-box .header .label {
    -fx-text-fill: #797979;
}

/*******************************************************************************
 *                                                                             *
 *                                  Database manager                           *
 *                                                                             *
 ******************************************************************************/
.state-indicator-file-not-exists {
    -fx-icon-color: #B00020 !important;
}

.state-indicator-used {
    -fx-icon-color: green !important;
}

/*******************************************************************************
 *                                                                             *
 *                                 Main View                                   *
 *                                                                             *
 ******************************************************************************/
.main-view-toolbar {
    -fx-border-color: #D4D4D4;
}

.tile:hover {
    -fx-background-color: #ECECEE;
}

/*******************************************************************************
 *                                                                             *
 *                         Crawl book details overlay                          *
 *                                                                             *
 ******************************************************************************/
.crawl-book-query-pane {
    -fx-background-color: #F0F0F0;
}

.crawl-book-details-pane {
    -fx-background-color: #F0F0F0;
}

.crawl-book-details-pane .top-group,
.crawl-book-details-pane .description-group,
.crawl-book-details-pane .index-group,
.crawl-book-details-pane .same-author-books-group,
.crawl-book-details-pane .same-category-books-group {
    -fx-background-color: white;
}

.crawl-book-details-pane > .top-group > .label.score-label {
    -fx-text-fill: orange;
}

.crawl-book-details-pane > .top-group > .label.score-label > .ikonli-font-icon {
    -fx-icon-color: orange;
}

.crawl-book-details-loading-pane {
    -fx-background-color: #7A7A7A;
}

/*******************************************************************************
 *                                                                             *
 *                            Book Manager view                                *
 *                                                                             *
 ******************************************************************************/
.book-table-place-holder .image-view {
    -fx-image: url("/org/myteer/novel/image/logo/bookshelf_128_black.png");
    -fx-opacity: 0.35;
}

.book-table-place-holder .label {
    -fx-opacity: 0.35;
}

/*******************************************************************************
 *                                                                             *
 *                                    Other                                    *
 *                                                                             *
 ******************************************************************************/
.header-toolbar {
    -fx-background-color: #E5E5E5;
}